*{
  box-sizing: border-box;
}

body{
  background-image: url(resources/images/background.jpg);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 45vh;
}

.quote{
  text-align: center;
  margin-top: 1rem; 
  font-size: 3rem;
  color: #333; 
  font-weight: 100;
  font-family: 'Brush Script MT';
}

.intro1{
  margin-top: 0;
  text-align: left;
  margin-left: 0;
}

h1 {
  font-size: 2rem;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: orange; 
  font-family: 'Georgia';
  font-weight: 100;
}

.intro{
  text-align: left;
  font-size: 1.2rem;
  color: black;
  font-family: 'Georgia';
}

.polaroid{
  background: white;
  padding: 0.5rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  width: 135%;
  height: 135%;
}

.polaroid img{
  max-width: 100%;
  height: auto;
}

.caption{
  font-family: 'Brush Script MT';
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  color: black;
  font-weight: 100;
}

.item{
  width: 40%;
  display: inline-block;
  margin-top: 2rem;
  filter: brightness(100%);
  margin-right: 1rem;
  min-width: 200px;
}

.item .polaroid:before{
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

.item:nth-of-type(4n+1){
  transform: scale(0.8,0.8) rotate(-5deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+1) .polaroid:before{
  transform: rotate(-6deg);
  height: 10%;
  width: 20%;
  bottom: 20px;
  right: 10px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}

.item:nth-of-type(4n+2){
  transform: scale(0.8,0.8) rotate(3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+2) .polaroid:before{
  transform: rotate(4deg);
  height: 10%;
  width: 20%;
  bottom: 20px;
  right: 10px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}

.item:nth-of-type(4n+3){
  transform: scale(0.8,0.8) rotate(-3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+3) .polaroid:before{
  transform: rotate(-4deg);
  height: 10%;
  width: 20%;
  bottom: 20px;
  right: 10px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}

.item:nth-of-type(4n+4){
  transform: scale(0.8,0.8) rotate(3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+4) .polaroid:before{
  transform: rotate(4deg);
  height: 10%;
  width: 20%;
  bottom: 20px;
  right: 10px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}

.item:hover{
  filter: none;
  transform: scale(1,1) rotate(0deg) !important;
  transition: all 0.35s;
}

.item:hover .polaroid:before{
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

.intro2{
  margin-top: 4rem;
  text-align: left;
  margin-left: 0;
}

h2 {
  font-size: 2rem;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: orange; 
  font-family: 'Georgia';
  font-weight: 100;
}

.paragraph p{
  text-align: justify;
  font-size: 1.2rem;
  color: black;
  font-family: 'Georgia';
}

.paragraph::after {
  content: '';
  display: inline-block;
  width: 100%;
}
